.home_image {
  width: 23%;
  height: auto;
}

.nav-link.active {
  border-color: #1a1a1a !important;
  border-bottom-color: transparent !important;
}

.nav-link:hover {
  border-color: #1a1a1a !important;
  border-bottom-color: transparent !important;
}

.nav-tabs {
 border-bottom: 1px solid #1a1a1a;
}

.user-pic {
  padding: 0;
  border: 0.3rem solid var(--border);
  border-radius: 50% 50%;
  width: 50%;
  height: auto;
}
